

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">

    <div class = "form-post">
      <h2>Create a new God</h2>
    <%= simple_form_for(@god) do |f| %>
      <div class="row">
       <div class= "col-xs-6">
          <%= f.input :name, placeholder: "Name" %>
       </div>
       <div class= "col-xs-6">
          <%= f.input :location, placeholder: "City"%>
       </div>
       <div class= "col-xs-6">
          <%= f.input :price, placeholder: "Price" %>
       </div>
       <div class= "col-xs-6">
          <%= f.input :photo, placeholder: "Please upload photo" %>
          <%= f.input :photo_cache, as: :hidden %>
       </div>
       <div class= "col-xs-12">
          
       </div>
       <div class= "col-xs-12">
          <%= f.input :description, placeholder: "Description" %>
       </div>
       <div class= "col-xs-12">
          <%= f.button :submit, "Create a God", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
