<!-- show.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @god.name %></h1>
      <p><%= @god.location %></p>
      <p><%= @god.description %></p>
      <p><%= @god.user.name %></p>
      <%= link_to "See all gods", gods_path %>
    </div>
  </div>
</div>

<!-- Linked the pages -->
