<div class="container">
  <h1 class="page-header">Booking Confirmation</h1>
  <div class="god">

    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-6">
      <h1 class="text-left"><%= @booking.god.name %></h1>
      </div>
    </div>

      <div class="row">
        <div class="col-md-5">
            <%= cl_image_tag @booking.god.photo, height: 300, width: 400, crop: :fill, class:"rounded-image" %>
        </div>
        <div class="col-md-6">
          <h4 class="text-left">Dates booked:</h4>
          <% start_date = @booking.start_date %>
          <% end_date = @booking.end_date %>
          <p class="text-left"> <%= start_date.strftime('%A, %d %b %y') %> - <%=end_date.strftime('%A, %d %b %y') %>
          <% total = ((end_date - start_date)/(60*60*24)).to_i%> </p>

          <h4 class="text-left">Total cost of booking:</h4>
          <p class="text-left">$<%= total * @booking.god.price %>
          <h4 class="text-left">Booking location:</h4>
          <p class="text-left"><%= @booking.god.location %></p>
          <h4 class="text-left">About <%= @booking.god.name %>: </h4>
          <p class="text-left"><%= @booking.god.description %></p>
          <%= link_to "Download your PDF", "#{booking_path(@booking)}.pdf"  %>
        </div>
      </div>
  </div>
</div>
